<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

	
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0">
	<!-- wp:pattern {"slug":"easyenglishwithcristina/hero"} /-->
	<!-- wp:pattern {"slug":"easyenglishwithcristina/methodology"} /-->
	<!-- wp:pattern {"slug":"easyenglishwithcristina/english-test"} /-->
	<!-- wp:pattern {"slug":"easyenglishwithcristina/courses-3-col"} /-->
	<!-- wp:pattern {"slug":"easyenglishwithcristina/banner-teacher"} /-->
	<!-- wp:pattern {"slug":"blankspace/banner-latest-posts"} /-->
	<!-- wp:pattern {"slug":"easyenglishwithcristina/banner-youtube"} /-->
	<!-- wp:pattern {"slug":"blankspace/jetpack-testimonials"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
