.sib_signup_form input {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border: 1px solid var(--wp--preset--color--black);
    padding:  calc(0.667em + 2px) calc(1.333em + 2px);
    font-size: var(--wp--preset--font-size--medium);
    font-family: inherit;
    width: 100%;
}

.sib_signup_form input[type=submit] {
    background-color: var(--wp--preset--color--secondary);
    border-radius: var(--wp--custom--button--border-radius);
    border: 0;
    color: var(--wp--preset--color--base);
    cursor: pointer;
    font-weight: 600;
}

[class^="sib_signup_box_inside_"] {
    display: flex;
    flex-wrap: wrap;
    color: var(--wp--preset--color--white);
}

[class^="sib_signup_box_inside_"] > p {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    font-size: var(--wp--preset--font-size--small);
}

footer [class^="sib_signup_box_inside_"] p.sib-email-area + p {
    flex: 1;
}

footer [class^="sib_signup_box_inside_"] p.sib-email-area {
    flex: 1 1 64%;
}

.banner-subscribe-newsletter {
    @media screen and (min-width: 768px) {
        background-size: cover !important;
        
    }
}
