.wp-block-jetpack-mailchimp form {
  display: flex;
  flex-wrap: wrap;
}

.wp-block-jetpack-mailchimp .wp-block-jetpack-button {
	flex: 1 1 36%;
	margin-bottom: 0;
}

.wp-block-jetpack-mailchimp .wp-block-button__link {
	width: 100%;
	margin-top: 0 !important;
    white-space: nowrap;
    height: 100%;
}

.wp-block-jetpack-mailchimp p:first-of-type {
    flex: 1 1 64%;
	margin: 0;
}

.wp-block-jetpack-mailchimp #wp-block-jetpack-mailchimp_consent-text {
	font-size: var(--wp--preset--font-size--tiny);
}

.wp-block-jetpack-mailchimp input[type=email] {

	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

	height: 55px;
	padding: 16px;
	border-radius: 0;
	border: 1px solid var(--wp--preset--color--black);
}


