<!-- wp:template-part {"slug":"header-hero","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"easyenglishwithcristina/lessons"} /-->
	<!-- wp:pattern {"slug":"write-white/banner-1"} /-->
	<!-- wp:pattern {"slug":"easyenglishwithcristina/methodology"} /-->
	<!-- wp:pattern {"slug":"write-white/banner-2"} /-->
	 <!-- wp:pattern {"slug":"easyenglishwithcristina/jetpack-testimonials"} /-->
	<!-- wp:pattern {"slug":"easyenglishwithcristina/banner-teacher"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
