@import "03-generic/breakpoints";

.wp-block-jetpack-mailchimp {
	
	form {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	p:first-of-type,
	.wp-block-jetpack-button {
		width: 100%;
		flex: 1 1 auto;
		@include media(tablet) {
			width: auto;
			margin-top: 0;
		}	
	}

	.woocommerce & button[type='submit'],
	button[type='submit'] {
		border: 0;
		line-height: var(--global--line-height-body);
		background: var(--wp--preset--color--orange);
		font-weight: 700;
		border-radius: 10px;
		width: 100%;
		@include media(tablet) {
			width: auto;
			border-radius: 0 10px 10px 0;
			margin-top: 0;
		}	
	}

	#wp-block-jetpack-mailchimp_consent-text {
		font-size: 12px;
	}

	input[type="email"] {
		font-size: var(--wp--preset--font-size--medium);
		padding: calc(0.667em + 2px) calc(0.667em + 2px);
		border: 0;
		margin: 0;
		border-radius: 10px;

		@include media(tablet) {
			border-radius: 10px 0 0 10px;

		}	
	}
}